.container-button{
    width: 112px;
    height: 32px;

    background-color: #CCCCCC;
    text-align: center;
    border: 1px solid #77777777;
}

.container-aba{

 display: flex;

 justify-content: space-between;
 width: 514px;

}
.content{
    width: 514px;
    height: 130px;
    background-color: #F0F0F0;
    border: 1px solid #AAAAAA;
    padding:26px ;
}
.body{
    display: flex;
    flex-direction: column;
}