.container-button {
  width: 112px;
  height: 32px;

  background-color: #cccccc;
  text-align: center;
  border: 1px solid #77777777;
}

.aba {
  display: flex;

  justify-content: space-between;
  width: 514px;
}
.content {
  width: 514px;
  height: 130px;
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  padding: 26px;
  margin-top: 19px;
}
.abas-father {
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
